@charset "UTF-8";
@font-face{
    font-family: 'Bubble';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
}
p{
    text-align: justify;
    text-indent: 50px;
    font-weight: 300;
    
}
div#interface{
    display: block;
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: -10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    
}
nav#menu{
    display: block;
    position: relative;
    top: -30px;
    left: 200px;
    margin-bottom: -40px;
}
nav#menu h1{
    display: none;
}
nav#menu ul{
    list-style-type: none;
}
nav#menu li{
    display: inline-block;
    padding: 2px;
    margin: 2px;
    text-transform: uppercase;
    background-color: #dddddd;;
    box-shadow: 0px 0px 3px rgba(0, 0, 0,0.5);
}
nav#menu a{
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 11pt;
    transition: 0.5s;
}
nav#menu a:hover{
    color: white;
    text-decoration: underline;

}
nav#menu li:hover{ 
    background-color: #606060;
}
header h1{
    font-family: 'Bubble', sans-serif;
    color: #606060;
    font-size: 35pt;
}
header h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    margin-top: -30px;
    font-size: 15pt;
    font-weight: lighter;
}
header{
    border-bottom: black solid 1px;
    height: 160px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 90px;
}
header img#mapa{
    position: relative;
    left: 645px;
    top: -30px;
    height: 80%;
}
section div h3{
    color: #dddddd;
    font-size: 10pt;
    font-weight: bold;
}
section div h1{
    font-family: 'Bubble', sans-serif;
    color:#606060;
    font-size: 20pt ;
    margin-bottom: -10px;
    font-weight: lighter;
}
section div h2{
    color:#dddddd;
    font-size: 9.5pt;
    margin-top: 8px;
}
section div h4{
    color: #606060;
    text-align: right;
    font-size: 8pt;
    bottom: 200px;
}