@charset "UTF-8";
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 97%;
    background-color: rgb(85, 85, 85);
    margin: -20px auto 10px auto;
    height: 200px;
}
header nav{
    position: relative;
    top: 100%;
    background-color: rgb(59, 59, 59);

}
header nav ul{
    display: block;
    list-style: none;
    text-align: center;

}
header nav ul li{
    display: inline-block;
    margin-left: 0.7%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    padding-left: 2%;
    border-left: white 1px solid;
    font-size: 13pt;
}
header nav ul li#prim{
    border-left: none;
    padding-left: 0%;
    margin-left: 0%;
}
header nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 1px;
}
header nav ul li a:hover{
    color: grey;
}

article{
    display: block;
    position: relative;
    top: 40px;
    width: 97%;
    background-color: white;
    margin: 10px auto 10px auto;
    height: 800px;
}
article section{
    display: block;
    width: 70%;
    background-color: rgb(85, 85, 85);
}
article section h1{
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px 0px 5px 30px;
    font-size: 18pt;
}
article section img{
    position: absolute;
    width: 21%;
    height: 190px;
    margin-left: 2%;
}
article section div{
    margin-left: 36%;
    padding-right: 2%;
    padding-bottom: 10px;
    color: white;
    text-align: justify;
}
article section div p{
   font-size: 11pt; 
}
article section div h3{
    font-size: 11pt;
    margin-top: 0px;
    margin-left: 84.5%;
    padding: 1%;
    background-color: rgb(165, 165, 165);
}
article section div a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
article section div a:hover{
    color: white;
}
article section.menor{
    display: block;
    position: relative;
    width: 34%;
    float: left;
}
article section.menor#esq{
    margin: 20px 2% 20px auto;
}
article section.menor#dir{
    margin: 20px auto 20px auto;
}
article section.menor h1{
    margin-top: 0px;
}
article section.menor div.menor{
    margin-left: 5%;
    margin-right: 5%;
}
article section.menor div.menor h3{
    margin-left: 79%;
    padding-right: 0%;
}
article section.menor div.menor h4{
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    padding: 5px 0px 2px 0px;
    font-size: 13pt;
}

article section.menor div.menor li{
    list-style-type: square;
    margin: 0px auto 0px auto;
    padding: 1.5%;
}
article section.menor div.menor ul li::before{
    color: black;
}
article aside{
    float: right;
    background-color: rgb(85, 85, 85);
    width: 24.5%;
    height: 675px;
    margin-top: -277px;
    padding: 2%;
}
article aside input{
    padding: 3%;
    padding-right: 35%;
    border: none;
    font-size: 12pt;
}
article aside h4{
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px 0px 9px 20px;
    font-size: 15pt;
}
article aside ul{
    background-color: white;
    margin-top: -25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
article aside ul li{
    padding: 1%;    
}
article aside div.grid div.griditem img{
    width: 150px;
    margin-inline: 01px;
    margin-left: -15px;
    margin-bottom: -10px;
    margin-right: 30px;
    padding: 8%;
}
article aside div.grid div.griditem img.top{
    margin-bottom: -5px;
    margin-top: -10px;
    margin-right: -30px;
}
article aside div.grid div.griditem img.bot{
    margin-bottom: -5px;
    margin-top: -10px;
    margin-right: -30px;
}
article aside div.grid div.griditem{
    display: inline-block;   
}
footer{
    display: block;
    position: relative;
    width: 97%;
    height: 30px;
    background-color: rgb(85, 85, 85);
    top: 5px;
    margin-left: 1.5%;
    top: -30px;
    margin-bottom: -80px;
    color: white;

}
footer h2{
    font-size: 12pt;
    margin: 2px auto 2px auto;
    padding-top: 8px;
    padding-left: 8px;
}